<% include head.ejs %>
<title><%= data.username %> - PNGallery</title>
<h1><%= data.username %></h1>
<% if (data.picture) { %>
<img
  alt
  src="/upload/<%= data.picture %>"
>
<% } %>
<p><%= data.message %></p>
<% if (data.username === user.username) { %>
  <p>
  <a href="/change">
    <button
    class=happy
    >Change</button>
  </a>
    <button
      id=js-remove
      data-id="<%= data.id %>"
      class=danger
    >Remove</button>
  </p>
<% } %>
<p><a href="/">Back to list</a></p>
<% include tail.ejs %>
