<% include head.ejs %>
<title><%= data.username %> - PNGallery</title>
<h1>Posted by: <%= data.username %></h1>
<% if (data.picture) { %>
<img
  alt="<%= data.message %>"
  src="/upload/<%= data.picture %>"
>
<% } %>
<h2>Message</h2>
<p><%= data.message %></p>
<% if (data.username === user.username) { %>
  <p>
  <a href=/change>
    <button class=happy>Change</button>
  </a>
    <form
      action="/<%= data.id %>"
      method=post
      >
      <input
        type=submit
        value=delete
        >
    </form>
    <button
      id=js-remove
      data-id="<%= data.id %>"
      class=danger
    >Remove</button>
  </p>
<% } %>
<p><a href=/>Back to list</a></p>
<% include tail.ejs %>
